.header{
    min-height: 70px;
    border-bottom: 1px solid #b3b3b3;
    width: 100%;
}

.width{
    max-width: 900px;
}

.fa{
    margin-top: 0px;
}

.nav-icons{
    color: #707070;
    padding-right: 5%;
    padding-left: 2%;
}

.nav-dropdown{
    margin-right: 20px;
}

.profile-icon{
    color: rgb(0, 78, 0);
}

.ni{
    float: right;
    padding-left: 15px;
}

.btnstyle{
    margin-left: 30px;
    border-radius: 50px 50px 50px 50px;
    padding: 15px 30px 15px 30px;
    background-color: white;
}

.btnstyle:hover, 
.btnstyle:focus{
    animation: btnstyle 1s;
    box-shadow: 0 0 7em rgba(33,33,33,.2); 
}

@keyframes btnstyle{
    0%{
        box-shadow: 0 0 0 0 var(--hover);
    }
}

.prog{
    margin-left: 70px;
    width: 50%;
}

.infor{
    margin-left: 70px;
}

.side{
    height: 90vh;
    width: 50px;
    border-left: 1px solid #b3b3b3;
    position: absolute;
    top: 35%;
    right: 0;
    margin-left: 50%;
    background: rgb(243, 243, 243);
}

.drop{
    min-width: 250px;
}

.google{
    color: rgb(236, 65, 22);
}

.icon{
    width: 50px;
    height: 50px;
}

.dropi{
    min-width: 350px;
}
 
.span{
    color: blue;
}

.button{
    float: right;
}

.more{
    margin-left: 110px;
}

.dropii{
    min-width: 300px;
}

.displ{
    display: inline;
}

.log{
    border: 1px solid #b3b3b3;
    border-radius: 5px 6px 5px 6px;
    margin-top: 200px;
    margin-left: 550px;
    margin-right: 550px;
}

.dreams{
    width: 300px;
    height: 300px;
    margin-top: -35px;
}

.mt{
    text-align: center;
    font-size: 17px;
}

form#one input {
    border: 1px solid #b3b3b3;
    border-radius: 5px 5px 5px 5px;
}

.dflex{
    text-align: left;
}

.helen{
    margin-left: -90px;
}

.views{
    margin-top: -25px;
    width: 50px;
}

.trial{
    overflow-y: scroll;
    max-height: 250px;
}

.float{
    position: absolute;
    left: 320px;
}


  